<h1>Buscando: <small>{{id}}</small></h1>
<hr>


<div class="card-columns" *ngIf="!emptySearch">
  <app-cards [hero]="hero" *ngFor="let hero of heroes"></app-cards>
</div>

<div class="row animated fadeIn fast" *ngIf="emptySearch">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No se encontraron resultados con "{{id}}"
    </div>
  </div>
</div>