<div class="card animated fadeIn fast">
  <img class="card-img-top" [src]="hero.img" [alt]="hero.nombre">
  <div class="card-body">
    <h5 class="card-title">{{ hero.nombre }}</h5>
    <p class="card-text">{{ hero.bio }}</p>
    <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>

    <button class="btn btn-outline-primary btn-block" (click)="verHeroe()">
      Ver más...
    </button>
  </div>
</div>